parameters:
    phpVersion: 70400
    level: 1
    paths:
        - src
        - lib
        - public
        - tests
    tmpDir: var/cache/phpstan
    bootstrapFiles:
        # for constants
        - config/config.php.sample
        # stub for mapscript functions
        - stubs/mapscript-stubs.php
    ignoreErrors:
        # docs say it returns void, but it's used to fetch a string, so very unclear
        - '#Result of function ms_iogetstdoutbufferstring \(void\) is used.#'
        # docs say 2 parameters, phpstan has wrong definition(?)
        - '#Function ms_newMapObjFromString invoked with 2 parameters, 1 required.#'
