.copyDivLeft {
  min-width: 25%;
  float: left;
  padding: 4px;
  border: 1px outset #4297d7;
  text-align: right;
  background: #2191c0;
  color: #ffffff;
}

.copyDivRight {
  padding: 4px;
  margin-left: 5px;
  float:left;
}

.divButton {
  border-top: 1px dashed #2191c0;
  margin-top: 10px;
  padding-top: 5px;
}

.divErrorMessage {
  font-weight: bold;
  color: red;
  text-align: justify;
  margin-top: 15px;
}

.tableSelectorHeader {
  border: 3px solid black;
  padding: 3px;
}

.tableSelectorRow {
  border: 1px solid black;
  padding: 1px;
}
