//sistemo qui tutte le variabili che hanno necessità di essere rese disponibili
//anche a livello del client
<?php
define('GMAPKEY', 'valorizza chiave google');
define('GMAPURL',(empty($_SERVER['HTTPS']) ? 'http' : 'https').'://maps.googleapis.com/maps/api/js?key='.GMAPKEY);
define('PAGE_TOOLS', "StreetViewControl");
?>
