<?php

//Impostazioni database Postgresql
define('DB_NAME', 'MY_DB_NAME');
define('DB_SCHEMA', 'MY_SCHEMA_NAME');
define('USER_SCHEMA', 'MY_USER_SCHEMA_NAME');
define('CHAR_SET', 'UTF-8');
define('DB_HOST', 'MY_DB_HOST');
define('DB_PORT', '5432');
define('DB_USER', 'MY_DB_ADMIN_USER'); //Superutente
define('DB_PWD', 'MY_DB_ADMIN_PASSWORD');

//Utente scritto sul file .map
define('MAP_USER','MY_DB_MAPSERVER_USER');
define('MAP_PWD','MY_DB_MAPSERVER_PASSWORD');

// user with manager permission (can create new users and groups)
define('SUPER_USER', 'admin');
define('SUPER_USER_CLIENT_COMPONENTS',"StreetViewControl:1:alone,LayerTreeButton:1:data,QueryControl:2:data,PrintControl:1:zprint,ReferenceMapControl:2:zprint,UnRedoControl:3:alone,ReportControl:3:data,MeasureControl:1:tools,GeoNoteControl:2:tools,PipeSelectControl:3:tools");
