<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">

<head>
	
	<title>Geoweb Centrale Operativa</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta description="Template per applicazione di webmapping"></meta>
	<meta name="language" content="it"></meta>
		
	<script type="text/javascript" src="http://openlayers.org/dev/OpenLayers.js"></script>
	
	<!-- jQuery-UI -->
	<link type="text/css" href="css/jquery-ui-1.7.2.custom.css" rel="Stylesheet"></script>
	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.custom.min.js"></script>

	<!-- Javascript e Css template-->
	<link type="text/css" href="css/style.css" rel="Stylesheet"></script>
	<script type="text/javascript" src="js/mappa.js"></script>
	

		<!--Servizi cartografici esterni-->	
	<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAm7p0hNsOibOOJsPxV9lFXhTxCYmc90MKiH76AR_hxxJuPn4srhRg2kX-Rw4dQ89Ecl8zXWMdAe0s3A'></script>

	<script src='http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.1'></script>	
	<script src="http://api.maps.yahoo.com/ajaxymap?v=3.0&appid=euzuro-openlayers"></script>
	<script src="http://openstreetmap.org/openlayers/OpenStreetMap.js"></script>
		
	
	<!--custom script-->
	<script  type="text/javascript">
	

	var MAP
	function InitMap(map){
		MAP=map;
		var layer=map.getLayersByName("Google Strade");
		map.setBaseLayer(layer[0]);
	}
	
	</script>
	
	
</head>
<body>
	<div id="container">
		<!-- toolbar superiore -->		
		<div class="fg-toolbar ui-widget-header ui-corner-all ui-helper-clearfix">
		
			<div class="fg-buttonset ui-helper-clearfix">
				<a href="#" class="fg-button ui-state-default fg-button-icon-solo ui-corner-all" title="Full extent" onclick="MAP.zoomToExtent(bounds);"><span class="ui-icon fullextent"></span>Estensione completa</a>
				<div id="btnPrev" class="fg-button ui-state-default fg-button-icon-solo" title="Vista precedente"></div>
				<div id="btnNext" class="fg-button ui-state-default fg-button-icon-solo" title="Vista successiva"></div>
			</div>
			<div class="fg-buttonset fg-buttonset-single">
				<a href="#" class="fg-button ui-state-default fg-button-icon-solo" title="Zoom in" name="zoomin" onclick="toggleControl(this)";"><span class="ui-icon zoom_in"></span> Zoom in</a>
				<a href="#" class="fg-button ui-state-default fg-button-icon-solo ui-state-active" title="Pan" name="pan"	onclick="toggleControl(this)";"><span class="ui-icon pan"></span> Pan</a>
				<a href="#" class="fg-button ui-state-default fg-button-icon-solo" title="Zoom out" name="zoomout" onclick="toggleControl(this)";"><span class="ui-icon zoom_out"></span> Zoom out</a>
				<a href="#" class="fg-button ui-state-default fg-button-icon-solo" title="Misura lunghezza" name="line" onclick="toggleControl(this)";"><span class="ui-icon ruler"></span> Misura lunghezza</a>
				<a href="#" class="fg-button ui-state-default fg-button-icon-solo" title="Misura area" name="polygon" onclick="toggleControl(this)";"><span class="ui-icon ruler2"></span> Misura area</a>
			</div>
			<div class="ui-helper-clearfix">
				<span id="scala"></span>&nbsp;<span id="misure"></span>
			</div>
		</div>	

		<!-- mappa -->
		<div id="map"style="width:100%;height:100%"></div>
		
	</div>
	
	
</body>
</html>