
.olControlAttribution {
    bottom: 5px;
    right:30px;
}



.olControlLoadingPanel {
    background-image:url('icons/loading.gif');
    position: relative;
    width: 100%;
    height: 100%;
    background-position:center;
    background-repeat:no-repeat;
    display: block;
}


div.olMapViewport {
     z-index: 0;
}   


.olImageLoadError {
    visibility: hidden !important;
}



.olControlPanel div { 
  display:block;
  width:  24px;
  height: 24px;
  margin: 5px;
  right: 0;
}


.icon-layers {
    background: url("images/icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-position: -100px 0;
    display: inline-block;
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: -9999px;
    margin-top:8px;
    margin-left:8px;
}





.olButton.olControlZoomBoxItemActive,
.olButton.olControlDragPanItemActive,
.olButton.olControlGisClientSLDSelectItemActive,
.olButton.olControlButtonItemActive,
.olButton.olControlDynamicMeasureItemActive,
.olButton.buttonItemActive
{
    background-color: #9ED485;
}





.map-layout #content {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
}




.myicon {
    background-position:center center;
    background-repeat:no-repeat;
    height:16px !important;
    width:16px !important;
    margin-left:5px;
    margin-top:-3px;
}

.gisclient-toolbar .icon-white{
    margin-top:10px;
    margin-left:10px;
}


.myicon {
    margin-left: 12px;
    margin-top: 7px;
}


#mypanel {
  position:absolute;
  top:0px;
  left:35px;
  width:100%;
  height:100%;
  padding:10px;
  background:#6a6a6a;
  overflow:auto;
  opacity: 0.85;
  color:#FFFFFF
}

.gisclient-toolbar-container {
    position:absolute;
    top:0px;
    right:0px;
    width:50px;
    height:100%;

}

.gisclient-toolbar .olButton {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 0 0;
    display: block;
    height: 35px;
    margin-bottom: 0px;
    outline: medium none;
    width: 35px;
    border: 1px solid #aaaaaa;
}
.gisclient-toolbar .olButton.first{
    border-radius: 8px 0 0 0;
    margin-bottom: 0;
    margin-top: 10px;
}
.gisclient-toolbar .olButton.last{
    border-radius: 0 0 0 8px;
    margin-bottom: 10px;
}
.gisclient-toolbar .olButton:hover {
    background-color: #000000;
}
.gisclient-toolbar .olButton.active {
    background-color: #9ED485;
}
.gisclient-toolbar .olButton.disabled {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
}
.gisclient-toolbar .olButton .icon {
    margin: 10px;
}



.featureTypeData{

    overflow:scroll;
    border:1px solid black;

}


#resultpanelddd {
    width: 200px;
    background-color: #ddd;
    border-radius: 10px;
    font-style: "Tahoma";
    font-size: 1.1em;
    border: 1px solid #eee;
}

.featureTypeTitle {
    padding: 10px 15px;
    margin-top: 1px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    border-radius: 0;
    background-repeat: no-repeat;
    background-color: #aaaaaa;
    background-image: url(freccia_destra.png) center right;
}

.featureTypeTitle:first-child {
    border-radius: 10px 10px 0 0;
    margin-top: 0;
}

.featureTypeTitle:last-child {
    border-radius: 0 0px 10px 10px;
}

.featureTypeData {
    display:none;
}



.olEditorControlEditorPanel {

       right:auto;
       left:8px;


}
/*TOOLBAR SULLA MAPPA*/

#map .olControlPanel {

    background-color: #9ED485;
    top:8px;
    left:8px;

}



.olButton[class*="ItemActive"] {
    background-color: #00FFFF;
}
.olButton[class*="ItemInactive"] {
    background-color: #FF00FF;
}


.olGisClientqueryToolbar {
  background-color: rgba(0, 0, 0, 0.6);
  left:8px;
  top:8px;
  height: 50px;

}

#toolbar_query {

    height:150px;

}
.olControlQueryMapSelect {
  position: absolute;
  width: 200px;
  height:80px;

  left:8px;
  top:35px;
}
.olControlQueryMapSelect select{
  width:250px;
}



















.myicon {
    background-position:center center;
    background-repeat:no-repeat;
    height:16px !important;
    width:16px !important;
    margin-left:5px;
    margin-top:-3px;
}


.htbar-controlrr .olButton:hover {
    background-color: #000000;
}
.htbar-controls .olButton.active {
    background-color: #9ED485;
}
.htbar-controls .olButton.disabled {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
}
.gisclient-toolbarsss .olButton .icon {
    margin: 10px;
}

.icon-measure-length{
    background-image:url(images/ruler.png) !important;
}

.icon-measure-area{
    background-image:url(images/ruler_triangle.png) !important;
}
.ui-icon-locate {
    background-image: url(images/locate.png) !important;
}
.ui-icon-layers {
    background-image: url(images/openlayers.png) !important;
}

.htbar-control {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin:5px;
    width: auto;
}

.htbar-control .olButton {
    cursor: pointer;
    display: inline-block;
    outline: medium none;
    text-decoration: none;
    background-color: #BFBFBF;
    min-width: 50px;
    margin-right: 10px;
    width:auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

}

.htbar-controlxx .olButton:hover {
    background-position: right -24px;
    outline: medium none;
    text-decoration: none;    

}

.htbar-control .olButton span{
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    width: auto;
    margin-left:5px;
    margin-right:5px;
    margin-top: 5px;
    color:#FFFFFF;
}




.olButton.olControlZoomBoxItemActive,
.olButton.olControlDragPanItemActive,
.olButton.olControlGisClientSLDSelectItemActive,
.olButton.olControlButtonItemActive,
.olButton.olControlDynamicMeasureItemActive,
.olButton.buttonItemActive
{
    background-color: #9ED485;
}



.gisclient-toolbar .olButton:hover {
    background-color: #000000;
}
.gisclient-toolbar .olButton.active {
    background-color: #9ED485;
}
.olButton:hover {
    background-color: #000000;
}
.olButton.active {
    background-color: #9ED485;
}














#content {
    bottom: 0;
    overflow: hidden;
    top: 5px;
    left: 5px;
    bottom: 0px;
    width: 100%;
}


.map-layout #map {
    height: 100%;
    width:100%;
    overflow: hidden;
}




.olControlPanel div { 
  display:block;
  width:  24px;
  height: 24px;
  margin: 5px;
  background-color:white;
}







.map-layout #content {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
}
.map-layout #map-toolbars, .map-layout #map {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}




.map-layout #map-toolbars {
    background: none repeat scroll 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    top:4px;
    left:4px;
    font-size: 12px;
    color:#FFFFFF;
    position:absolute;
    
}

.map-layout  #map-toolbars .htbar-controlsxx{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: auto;
    overflow: hidden;
    position: absolute;
}



.map-layout #map-toolbars div {

}
.map-layout #map-toolbars h2 {
    padding: 20px 20px 10px;
}
.map-layout #map-toolbars h3, .map-layout #map-toolbars h4 {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.map-layout #map-toolbars .icon.close {
    cursor: pointer;
    float: right;
}
.map-layout .welcome {
    display: none;
}


#zoom-button, #center-button {

    margin-top: 25px;

}

.ui-spinner {
    top:-5px;
    height:30px;
}
























.htbar-controlxxxx .olButton:hover {
    background-color: #000000;
}
.htbar-controlxxx .olButton.active {
    background-color: #9ED485;
}
.htbar-controlxxx .olButton.disabled {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
}




.icon-measure-length{
    background-image:url(images/ruler.png) !important;
}

.icon-measure-area{
    background-image:url(images/ruler_triangle.png) !important;
}
.ui-icon-locate {
    background-image: url(images/locate.png) !important;
}
.ui-icon-layers {
    background-image: url(images/openlayers.png) !important;
}

.htbar-controls {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin:2px;
    width: auto;
}

.htbar-controls .olButton {
    cursor: pointer;
    display: inline-block;
    outline: medium none;
    text-decoration: none;
    background-color: #BFBFBF;
    min-width: 50px;
    margin-right: 10px;
    width:auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

}

.htbar-controls .olButton:hover {
    background-position: right -24px;
    outline: medium none;
    text-decoration: none;    

}

.htbar-controls .olButton span{
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    width: auto;
    margin-left:5px;
    margin-right:5px;
    margin-top: 5px;
    color:#FFFFFF;
}

#mapset-login {
    width:200px;
    margin-right:5px;
    float: right;
}


#map {

    width:95%;
    height:400px;
    border: 1px solid gray;
    margin-top:10px;
}

.olControlMousePosition{
   margin-right:400px;

}
